<h2>Details</h2>

<div class="row">
    <div class="col-xs-8">
        <h1>Name</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzzYQWadS4OrcDrqaQB5i-rhMJs-bHS_PDnJcatG_mUwbSJnqO" alt="" class="img-responsive">
    </div>
    <div class="col-xs-4">
       <h3>Price: 12.15 zł</h3>
       <button>Add to basket</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button 
            type="button" 
            class="btn btn-primary dropdown-toggle">Manage product 
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">Description</div>
</div>
