<h1>Products</h1>

<label>Product name</label>        
<input  type="text" 
        class="form-control"
        [(ngModel)]="productName"
        (input)="checkProduct()"/>
<br>

<label>Product Description</label>
<input  type="text" 
        class="form-control"
        [(ngModel)]="productDescription"
        />
<br>

<label>Product Price</label>
<input  type="number" 
        class="form-control"
        [(ngModel)]="productPrice"
        (input)="checkProduct()"/>
<br>

<label>Product ImgUrl</label>
<input  type="text" 
        class="form-control"
        [(ngModel)]="productImgUrl"
        />
<br>


<button type="submit" class="btn btn-primary" [disabled]="!addProductAllowed" (click)="addProduct()">Add product</button>
<button class="btn btn-info" (click)="onDetails()" (click)="onLogs()">Details</button>